receiver/flows.json
[{"id":"6a4d179d.d40168","type":"http in","z":"89cac976.08eae8","name":"","url":"/dbmessages","method":"post","swaggerDoc":"","x":160,"y":68,"wires":[["4701b876.ce1688","ff0c69fa.843e98"]]},{"id":"478b79f2.c53cb8","type":"http in","z":"89cac976.08eae8","name":"","url":"/averagemessages","method":"post","swaggerDoc":"","x":148,"y":184,"wires":[["4701b876.ce1688","ff0c69fa.843e98"]]},{"id":"8715473a.3f9028","type":"http response","z":"89cac976.08eae8","name":"","x":470,"y":125,"wires":[]},{"id":"4701b876.ce1688","type":"function","z":"89cac976.08eae8","name":"","func":"msg.statusCode = 204;\nreturn msg;","outputs":1,"noerr":0,"x":347.5,"y":125,"wires":[["8715473a.3f9028"]]},{"id":"bd6efc06.96518","type":"file","z":"89cac976.08eae8","name":"Append","filename":"/measurements/incoming.json","appendNewline":true,"createDir":false,"overwriteFile":"false","x":1007,"y":242,"wires":[]},{"id":"ff0c69fa.843e98","type":"function","z":"89cac976.08eae8","name":"Append Buffer","func":"var content = msg.payload;\nvar result = {\"time\": new Date().getTime(), \"content\": content};\nvar resultStr = JSON.stringify(result);\nflow.get(\"buffer\").push(resultStr);\nreturn msg;","outputs":1,"noerr":0,"x":736.5,"y":124,"wires":[[]]},{"id":"d02f28e4.6d53a8","type":"inject","z":"89cac976.08eae8","name":"Init","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":572,"y":181,"wires":[["153e8386.a6091c"]]},{"id":"153e8386.a6091c","type":"function","z":"89cac976.08eae8","name":"Create Buffer","func":"var buffer = flow.get(\"buffer\") || [];\nflow.set(\"buffer\", buffer);\nreturn msg;","outputs":1,"noerr":0,"x":726,"y":181,"wires":[[]]},{"id":"a8e56cfb.f5c79","type":"inject","z":"89cac976.08eae8","name":"Save","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"x":573,"y":242,"wires":[["a0b38f8.181177"]]},{"id":"a0b38f8.181177","type":"function","z":"89cac976.08eae8","name":"Clear Buffer","func":"var buffer = flow.get(\"buffer\") || [];\nmsg.payload = buffer;\nflow.set(\"buffer\", []);\nreturn msg;","outputs":1,"noerr":0,"x":724,"y":242,"wires":[["b44b9aa3.df22b8"]]},{"id":"b44b9aa3.df22b8","type":"split","z":"89cac976.08eae8","name":"","splt":"\\n","x":870,"y":242,"wires":[["bd6efc06.96518"]]}]
