nodered/flows.json
[{"id":"1cbb24f7.a835eb","type":"http in","z":"7d7702d6.33238c","name":"PV-Receiver","url":"/endpoints/pvreceiver","method":"post","swaggerDoc":"","x":117,"y":97,"wires":[["bfbb096a.472e28","c162cd9d.74bd3"]]},{"id":"bfbb096a.472e28","type":"http response","z":"7d7702d6.33238c","name":"Send Response","x":328,"y":147,"wires":[]},{"id":"b03669e7.ac4a48","type":"http request","z":"7d7702d6.33238c","name":"Send to KairosDB","method":"POST","ret":"txt","url":"http://receiver:1880/dbmessages","tls":"","x":1055.5,"y":97,"wires":[[]]},{"id":"c162cd9d.74bd3","type":"function","z":"7d7702d6.33238c","name":"Transform and Enrich","func":"var payload = msg.payload;\npayload.time = new Date(msg.payload.time || new Date()).getTime();\npayload.station = payload.station || \"unknown\";\npayload.energy = payload.energy || 0;\nreturn msg;","outputs":1,"noerr":0,"x":338,"y":97,"wires":[["f7be83e.1469","91bd52a8.4886b"]]},{"id":"91bd52a8.4886b","type":"function","z":"7d7702d6.33238c","name":"Aggregate By Installation","func":"var timeout = 10000;\nvar topic = msg.payload.station;\nvar time = msg.payload.time;\nvar value = msg.payload.energy;\n\n// Map structure to access thinks by topic\nvar datas = context.get(\"datas\") || {};\nvar list = datas[topic] || [];\nlist.push([time, value]);\n\n// Calculate mean and remove old entries\nvar i = 0, overall = 0, length = list.length;\nvar now = new Date().getTime(), latest = new Date().getTime() - timeout;\nwhile(i < length) {\n    var current = list[i];\n    if(current[0] < latest) {\n        var foo = list[length - 1];\n        list[length - 1] = current;\n        list[i] = foo;\n        length --;\n    } else {\n        overall += parseFloat(current[1]);\n        i ++;\n    }\n}\n\n// Save data\ndatas[topic] = i === 0 ? [] : list.slice(0, i);\ncontext.set(\"datas\", datas);\n\n// Create average\nmsg.payload.time = now;\nmsg.payload.energy = i > 0 ? overall / i : NaN;\nreturn msg;","outputs":1,"noerr":0,"x":606,"y":150,"wires":[["9d786c77.8762f"]]},{"id":"9d786c77.8762f","type":"switch","z":"7d7702d6.33238c","name":"","property":"payload.energy","propertyType":"msg","rules":[{"t":"regex","v":"^[-]?(0|[1-9][0-9]*)(\\.[0-9]+)?([eE][+-]?[0-9]+)?$","vt":"str","case":false},{"t":"else"}],"checkall":"true","outputs":2,"x":842,"y":150,"wires":[["c502da80.97ce98"],[]]},{"id":"c502da80.97ce98","type":"http request","z":"7d7702d6.33238c","name":"Send Aggregation","method":"POST","ret":"txt","url":"http://receiver:1880/averagemessages","tls":"","x":1053,"y":151,"wires":[[]]},{"id":"8350570f.28bea8","type":"inject","z":"7d7702d6.33238c","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"x":165,"y":317,"wires":[["df5e5d04.d81048"]]},{"id":"df5e5d04.d81048","type":"process","z":"7d7702d6.33238c","name":"","x":321,"y":317,"wires":[["80c705b4.1aac58"]]},{"id":"e1b7b0a3.1a8b18","type":"file","z":"7d7702d6.33238c","name":"","filename":"/noderedtest/process.json","appendNewline":true,"createDir":true,"overwriteFile":"false","x":706,"y":316,"wires":[]},{"id":"80c705b4.1aac58","type":"function","z":"7d7702d6.33238c","name":"","func":"msg.payload.time = new Date().getTime();\nreturn msg;","outputs":1,"noerr":0,"x":463,"y":317,"wires":[["e1b7b0a3.1a8b18"]]},{"id":"f7be83e.1469","type":"function","z":"7d7702d6.33238c","name":"Create KairosDB Data Point","func":"msg.payload = {\n  \"name\": \"pvenergy\", \n  \"value\": msg.payload.energy, \n  \"time\": msg.payload.time, \n  \"tags\": { \n    \"station\": msg.payload.station\n  },\n  \"id\": msg.payload.id\n};\nreturn msg;","outputs":1,"noerr":0,"x":616,"y":97,"wires":[["b03669e7.ac4a48"]]}]
